
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #131212;
}


.logo, h1 {
  font-family: 'Cutive Mono', monospace;
  margin: 15vh 0 8vh 0;
  font-size: 4em;
  font-weight: 400;
  color: #1bda09;
}


.form-control-imput {
  width: 50vw;
  height: auto;
  padding: 2rem;
  font-family: 'Cutive Mono', monospace;
  font-size: 2em;
  background: #1bda09;
}

p {
  margin-bottom: 4vh;
  font-family: 'Cutive Mono', monospace;
  font-size: 2em;
  color: #1bda09;
}

#resultado {
  width: 50vw;
  height: auto;
  background: #1bda09;
  color: #161616;
  font-family: 'Cutive Mono', monospace;
  font-size: 2em;
}

.botoes {
  width: 50vw;
  height: auto;
  padding: 2rem;
  margin-left: 25%;

}

.copiar, .cria-cripto, .reverte-cripto{
  padding: 1rem;
  margin: 0;
  color: #161616;
  font-family: 'Cutive Mono', monospace;
  font-size: 2em;
  background: #1bda09;

}

.copiar:hover, .cria-cripto:hover, .reverte-cripto:hover {
  background-color: #6dce66;
  color: #d6e4d5;
  cursor: pointer;
}

.mens02 {
  padding:1em;
  font-size: 2em;
}

.footer{
  bottom: 0;
  padding: 2em;
  position: relative;
  width: 100%;
  text-align: center;

}

.desc {
  font-size: 1em;
  bottom: 0;
}

.main {
  max-width: 100%;
  min-width: 530px
}
 


